
<div class="row my-5">
    <div class="col-md-6">
        <h1>List of courses</h1>
    </div>
    <div class="col-md-6 text-end">
        <button class="btn btn-success" (click)="showFormAction()">New Course</button>
    </div>
</div>


<div class="row" *ngIf="showForm">
    <div class="col-md-6 mx-auto">

        <form [formGroup]="courseForm" (submit)="addCourse()">
        <div class="form-group my-2">
            <label for="title" class="form-label">Title</label>
            <input formControlName="title" type="text" id="title" class="form-control">
            <div class="alert alert-danger" *ngIf="courseForm.get('title')?.invalid && (courseForm.get('title')?.touched || courseForm.get('title')?.dirty)">
                <div *ngIf="courseForm.get('title')?.errors?.['required']">This field is Required</div>
                <div *ngIf="courseForm.get('title')?.errors?.['minlength']">
                    This field should be great than {{ courseForm.get('title')?.errors?.['minlength']['actualLength'] }} / {{ courseForm.get('title')?.errors?.['minlength']['requiredLength'] }}
                </div>
            </div>
        </div>
        <div class="form-group my-2">
            <label for="content" class="form-label">Content</label>
            <textarea formControlName="content" id="content" cols="30" rows="4" class="form-control"></textarea>
        </div>
        <div class="form-group my-2">
            <label for="price" class="form-label">Price</label>
            <input formControlName="price" type="number" id="price" class="form-control">
        </div>
        <div class="form-group my-2">
            <label for="image" class="form-label">Image</label>
            <input formControlName="image" type="url" id="image" class="form-control">
        </div>
        <button [disabled]="courseForm.invalid" class="btn btn-success my-3">Add course</button>
    </form>
    </div>
</div>


<div class="row">
    <div class="col-md-6 col-lg-4 col-sm-12" *ngFor="let course of courses">
        <div class="card mb-3">
            <h3 class="card-header">{{ course.title }}</h3>
            <div class="card-body">
            </div>
            <img [src]="course.image" [alt]="course.title" srcset="">
            <div class="card-body">
              <p class="card-text">{{ course.content }}</p>
              <p><span class="badge bg-warning">$ {{ course.price }}</span></p>
            </div>

            <hr>
            <button class="btn btn-sm btn-dark mr-2" (click)="editCourse(course)">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deleteCourse(course.id)">Delete</button>
          </div>
    </div>
</div>